<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <!-- <div class="hero" style="background-image: url({{ '/assets/img/small-wreck-tom.jpg' | relative_url }})"> -->
    {% if page.image %}
      <div class="hero" style="background-image: url({{ page.image | relative_url }})">
        {% include header.html %}
      </div>
    {% else %}
      <div class="hero" style="background-image: url({{ site.header.default_image | relative_url }})">
        {% include header.html %}
      </div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="with-sidebar">
          <div class="with-sidebar-content">
            {{ content }}
          </div>
          {%include sidebar.html %}
        </div>
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
